@import "tailwindcss";

@theme {
  --color-brand-beige: #F3EFD2;
  --color-brand-tan: #AEA880;
  --color-brand-text: #42443A;
  --color-brand-green-dark: #4B6348;
  --color-brand-green-light: #84A07F;
  
  --background-image-brand-gradient: linear-gradient(135deg, #F3EFD2 0%, #AEA880 100%);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

